# --- DEPENDÊNCIAS ---
node_modules/
.pnp
.pnp.js

# --- EXPO & METRO ---
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# --- SEGURANÇA E CHAVES (CRÍTICO PARA CYBER) ---
# Nunca suba chaves privadas, certificados ou tokens
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.keystore
!debug.keystore

# --- VARIÁVEIS DE AMBIENTE (ONDE FICA SUA API DO CNJ) ---
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# --- NATIVE DIRECTORIES (OPCIONAL) ---
# Se você usa Continuous Native Generation (CNG), ignore estas pastas:
# android/
# ios/

# --- DEBUG & LOGS ---
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.eslintcache

# --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db

# --- TYPESCRIPT ---
*.tsbuildinfo

# --- ANDROID BUNDLE & APK CREDENTIALS ---
*.jks
*.keystore
*.p12
*.key
android/app/release.keystore
android/app/debug.keystore

# --- CONFIGURAÇÕES DE BUILD ---
android/.gradle
android/build
android/app/build
android/captures
android/assets

# --- PROPRIEDADES COM SENHAS ---
android/local.properties
android/key.properties